node_modules
yarn.lock

.DS_Store
.cache
.env
.env.local
.vercel
.output
/build/
/api/
/server/build
/public/build# Sentry Config File
.env.sentry-build-plugin
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

data
.nitro
.tanstack
tasks/
better-auth_migrations
